.intro-heading {
	color: yellow;
}


section {
	padding-top: 50px !important;
}

.pause-menu, .start-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
}
